<template>
  <v-app>
    <v-app-bar app color="primary" dark> </v-app-bar>
    <v-main>
      <div id="app">
        <v-app id="inspire">
          <v-container fluid>
            <v-row align="center">
              <v-col cols="6">
                <v-select
                  v-model="select"
                  :items="vehicleToString"
                  item-text="vehicle"
                  item-value="idVehicle"
                  label="Vehiculos"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <v-container fluid v-show="toggleNewVehicle">
            <v-row>
              <v-col cols="6">
                <v-form ref="newVehicleFrom" v-model="valid" lazy-validation>
                  <v-text-field
                    v-model="brand"
                    label="Marca"
                    :rules="brandRules"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="model"
                    label="Modelo"
                    :rules="modelRules"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="colour"
                    label="Color"
                    required
                  ></v-text-field>

                  <v-textarea
                    solo
                    name="input-7-4"
                    v-model="description"
                    :rules="descriptionRules"
                    label="Descripción"
                    counter="250"
                  ></v-textarea>

                  <v-textarea
                    solo
                    name="input-7-4"
                    v-model="observations"
                    :rules="observationsRules"
                    label="Observaciones"
                    counter="250"
                  ></v-textarea>

                  <v-btn color="success" class="mr-4" @click="cancel">
                    Finalizar
                  </v-btn>

                  <v-btn
                    :disabled="!valid"
                    color="blue"
                    class="mr-4"
                    @click="save"
                  >
                    Guardar
                  </v-btn>
                </v-form>
              </v-col>
            </v-row>
          </v-container>
        </v-app>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "App",
  data: () => ({
    vehicles: {},
    select: -1,
    toggleNewVehicle: false,
    valid: true,
    brand: "",
    model: "",
    colour: "",
    description: "",
    observations: "",

    brandRules: [
      (v) => !!v || "La marca es requerida",
      (v) =>
        (v && v.length >= 3) || "La marca debe tener al menos 3 caracteres",
    ],
    modelRules: [
      (v) => !!v || "La marca es requerida",
      (v) =>
        (v && v.length <= 3) || "El modelo debe tener al menos 3 caracteres",
    ],
    descriptionRules: [
      v => (v && v.length <= 250) || "La descripción debe tener menos de 250 caracteres",
    ],
    observationsRules: [
      v => (v && v.length <= 250) || "La observacion debe tener menos de 250 caracteres",
    ],
  }),
  created() {
    this.reloadData();
  },
  computed: {
    ...mapState("Vehicle", { vehicleList: "vehicleList" }),
    vehicleToString() {
      let vehicleString = this.vehicleList.map((v) => {
        return {
          vehicle:
            "Marca: " +
            v.brand +
            "; Modelo: " +
            v.model +
            "; Descripción: " +
            v.description +
            "; id: " +
            v.idVehicle,
        };
      });

      const items = [
        { vehicle: "Sin Vehículo" },
        { vehicle: "Nuevo Vehículo" },
        ...vehicleString,
      ];
      return items;
    },
  },
  methods: {
    ...mapActions("Vehicle", { vehicleListReload: "reload" }),
    reloadData: function () {
      this.vehicleListReload();
    },
    validate() {
      this.$refs.newVehicleFrom.validate();
    },
    cancel() {
      console.log("Finalizar");
    },
    save() {
      console.log(this.$refs.newVehicleFrom.validate())
      console.log("Guardar");
    },
  },
  watch: {
    select() {
      if (this.select === "Nuevo Vehículo") {
        this.toggleNewVehicle = true;
        console.log("MOSTRAR EL FORMULARIO");
      } else {
        this.toggleNewVehicle = false;
      }
    },
  },
};
</script>
